{% extends 'blog/base.html' %}

{% block title %}
{{post.title}}-AvetiZ Blog
{% endblock %}

{% block content %}
{% load bootstrap3 %}
{% load imagefit %}

<!--section id="ad">
      <div class="container ad">
        <div class="col-md-8 margin-tops col-md-push-2">
          <a href="#"><img src="https://tpc.googlesyndication.com/simgad/15838796070819256304" class="img-responsive"/></a>
        </div>
        <div class="col-md-12">
          <hr>
        </div>

      </div>
    </section-->

    <section id="post-body">
      <div class="container margin-tops">
        <div class="row">
          <div class="col-md-8 col-sm-8">
          <div class="row">
            <img src="{{post.post_pic.url|resize:'950x534,C'}}" style="width:100%" class="img-responsive img-post-detail">

            <div class="postTitleInfo">
              <h3 class="post-title-detail">{{post.title}}</h3>
              {% if post.published_date %}
              <span class="post-meta"><span class="post-date">{{ post.published_date|date:"D d M Y"}} By {{post.published_date|time:"H:i a"}}</span> 
              <span class="post-author">{{post.author.get_full_name|capfirst}} {{post.approve_comments.count}} COMMENT(S)</span></span>
            </div>

            </div>

            {% endif %}

            <div class="margin-tops post-text">{{post.text|safe}}</div>

            <hr>
            <div class="row">
              <!--div class="detail-share col-xs-2 text-center" >
                <span class="share-count"><strong>29</strong></span>
                <br>
                <span class="share-text"><strong>SHARE</strong></span>
              </div-->
              <div class="icons col-xs-10">
                <i class="" style="color:#3b5998"><a href="https://www.facebook.com/sharer/sharer.php?u=http://avetizblog.com{{post.get_absolute_url}}&src=sdkpreparse" class="fa fa-facebook-official fa-3x"></a></i>
                <i class="" style="color:#1dcaff"><a href="https://twitter.com/intent/tweet?hashtags=avetizblog&ref_src=twsrc%5Etfw&text=AvetiZ%20Blog&tw_p=tweetbutton&url=http://avetizblog.com{{post.get_absolute_url}}&via=avetiz" class="fa fa-twitter-square fa-3x"></a></i>
                <i class="" style="color:#007bb6"><a href="https://www.linkedin.com/cws/share?url=http://avetizblog.com{{post.get_absolute_url}}" class="fa fa-linkedin-square fa-3x"></a></i>
                <i class="" ><a style="color:#d34836" href="https://plus.google.com/share?url=http://avetizblog.com{{post.get_absolute_url}}" onclick="javascript:window.open(this.href,
                  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="fa fa-google-plus-square fa-3x"></a></i>
              </div>
            </div>
            <hr>
            <br>

            <section id="ad">
                  <div class="row">
                    <div class="col-md-12  ">
                      <a href="#"><img style="height:200px;" src="https://tpc.googlesyndication.com/simgad/15838796070819256304" class="img-responsive"/></a>
                    </div>
                    <div class="col-md-12">
                      <hr>
                    </div>

                 </div> 
              </section>

             <section class="similarStories">
              {% if post in story_posts %}
                <div class="row">
                  <h3 style="">More Success Stories</h3>
                  </div>

                <div class="row">
                  {% for post in story_posts|slice:"0:3" %}
                  <div class="col-xl-3 col-lg-4 col-sm-4 pad-right"><a href="{{post.get_absolute_url}}">
                    <img src="{{post.post_pic.url|resize:'400x347,C'}}" class="img-responsive">

                    <h4>{{post.title|title|truncatechars:40}}</h4></a>

                  </div>
                  {% endfor %}

                  
                </div>
                 <div class="row">
                  {% for post in story_posts|slice:"3:6" %}
                  <div class="col-xl-3 col-lg-4 col-sm-4 pad-right"><a href="{{post.get_absolute_url}}">
                    <img src="{{post.post_pic.url|resize:'400x347,C'}}" class="img-responsive">

                    <h4>{{post.title|title|truncatechars:40}}</h4></a>

                  </div>
                  {% endfor %}

                  
                </div>
              {% else %}

                  <div class="row">
                  <h3 style="">Similar Stories</h3>
                  </div>

                  <div class="row">
                  {% for i in similar_posts|slice:"0:3" %}
                  
                  <div class="col-xl-4 col-lg-4 col-sm-4 pad-right"><a href="{{i.get_absolute_url}}">
                    <img src="{{i.post_pic.url|resize:'400x347,C'}}" class="img-responsive">

                    <h4>{{i.title|title|truncatechars:40}}</h4></a>

                  </div>
                  {% endfor %}
                </div>
                <div class="row">
                  {% for i in similar_posts|slice:"3:6" %}
                  
                  <div class="col-xl-4 col-lg-4 col-sm-4 pad-right"><a href="{{i.get_absolute_url}}">
                    <img src="{{i.post_pic.url|resize:'400x347,C'}}" class="img-responsive">

                    <h4>{{i.title|title|truncatechars:40}}</h4></a>

                  </div>
                  
                  {% endfor %}
                </div>
                {% endif %}
              
               </section>

    <section class="commentSection">

      <div class="container-fluid">

        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}

        <div class="row margin-tops">
        {% if post.approve_comments.count == 0 %}
        <h2>There are No Comments</h2>

        {% elif post.approve_comments.count == 1 %}
        <h2>There is {{post.approve_comments.count}} Comment</h2>
        {% elif post.approve_comments.count > 1 %}
        <h2>There are {{post.approve_comments.count}} Comments</h2>
        {% endif %}

        <br>
          {% for comment in post.approve_comments %}
            <div class="col-md-12 commmnet-wrapper">
              {% if user.is_authenticated or comment.approved_comment %}
              <h4 class="commenter-name">{{comment.author}}</h4>
              <p class="comment">{{comment.text|safe|linebreaks}}</p>
            </div>
              {% endif %}
          
          {% empty %}
          <p>No comments posted.</p>
        {% endfor %}

                          
          <div class="col-md-12 commentbox  margin-tops">
                  <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                                  </span>Please Share Your Comment</a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse ">
                              <div class="panel-body">

                                <form id="commentForm" method="post" action="{% url 'blog:add_comment_to_post' pk=post.pk %}">
                                   {% csrf_token %}
                                  <div class="row">
                                      <div class="col-md-12">
                                        {% for field in form %}
                                        <div class="form-group">
                                        <p><font color="red">{{ field.errors }}</font></p>
                                        <label>{{ field.label }}</label> 
                                        <div>{{ field }}</div>
                                    
                                          </div>
                                          {% endfor %}
                                          
                                      </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-push-9 col-md-3">
                                      <button type="submit" class="save btn btn-primary commentBtn">Post Comment</button>

                                    </div>
                                  </div>
                                  </form>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
        </div>

              
      </div>
      <!--copied  some -->
        
    </section>

        <hr>


        <section class="similarStories">
        
             {% if post in story_posts  %}
                <div class="row">
                  <h3 style="">Trending</h3>
                  </div>

                <div class="row">
                  {% for post in featured_posts|slice:"3:6" %}
                  <div class="col-xl-3 col-lg-4 col-sm-4 pad-right"><a href="{{post.get_absolute_url}}">
                    <img src="{{post.post_pic.url|resize:'400x347,C'}}" class="img-responsive">
                    <h4>{{post.title}}</h4></a>
                  </div>
                  {% endfor %}     
                </div>

                <div class="row">
                  {% for post in featured_posts|slice:"6:9" %}
                  <div class="col-xl-3 col-lg-4 col-sm-4 pad-right"><a href="{{post.get_absolute_url}}">
                    <img src="{{post.post_pic.url|resize:'400x347,C'}}" class="img-responsive">
                    <h4>{{post.title}}</h4></a>
                  </div>
                  {% endfor %}   
                </div>

              {% else %}
                  {% include 'blog/includes/recommended_partial.html' %}
              {% endif %}
                  
         </section> 


          </div>

          <div class="col-md-4 col-sm-4 sideWidgetCol">
            <div class=" text-center">
              <h2 class="sidebar-h">Latest Posts</h2>
              <div class="sidebar-class">
                {% for post in recent_posts|slice:":3" %}
                <a href="{{ post.get_absolute_url }}">
                 <div class="sidebar-img-detail margin-tops">

                    <img class="img-responsive"  src="{{post.post_pic.url}}"/>
                    <h4 style="text-align:left" class="sidebar-text">{{post.title|truncatechars:60}}</h4>

                 </div>
                </a>
                {% endfor %}

                {% for post in recent_posts|slice:"3:6" %}
                <a href="{{post.get_absolute_url}}" class="hidden-xl-up">
                 <div class="sidebar-img-detail margin-tops">
                    <img class="img-responsive" src="{{post.post_pic.url}}"/>

                    <h4 style="text-align:left" style="width:auto;height:auto" class="sidebar-text">{{post.title|title|truncatechars:40}}</h4>

                 </div>
                </a>
                {% endfor %}

                

                <div class="sidebar-img-detail margin-tops">
                  <img class="img-responsive"  src="https://tpc.googlesyndication.com/simgad/3498238943114035450"/>
                </div>

                <div class="sidebar-img-detail margin-tops">
                  <img class="img-responsive" style="width:auto;height:auto" src="https://tpc.googlesyndication.com/simgad/12095207540805284894" >
                </div>
                

              </div>
            </div>
          </div>
        
        </div>
      </div>
      {% include 'blog/includes/googleanalytics.html' %}
    </section>
{% endblock %}
{% block topimg %}
<a href="{{ad.link}}"><img class="img-responsive" src="{{ad.advert_banner.url}}"></a>
{% endblock %}
