{% extends 'blog/base.html' %}

{% block title %}
{{post.title}}-AvetiZ Blog
{% endblock %}
{% block content %}
{% load bootstrap3 %}

<section id="ad">
      <div class="container ad">
        <div class="col-md-8 margin-tops col-md-push-2">
          <a href="#"><img src="https://tpc.googlesyndication.com/simgad/15838796070819256304" class="img-responsive"/></a>
        </div>
        <div class="col-md-12">
          <hr>
        </div>

      </div>
    </section>

    <section id="post-body">
      <div class="container margin-tops">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <img src="{{post.post_pic.url}}" style="width:100%" class="img-responsive img-post-detail">

            <h3 class="post-title-detail">{{post.title}}</h3>
            {% if post.published_date %}
            <span class="post-meta"><span class="post-date">{{ post.published_date|date:"D M Y"}} By</span> 
            <span class="post-author">{{post.author.get_full_name|capfirst}} {{approved_comments.count}} COMMENTS</span></span>

            {% endif %}

            <div class="margin-tops post-text">{{post.text|safe}}</div>

            <hr>
            <div class="row">
              <!--div class="detail-share col-xs-2 text-center" >
                <span class="share-count"><strong>29</strong></span>
                <br>
                <span class="share-text"><strong>SHARE</strong></span>
              </div-->
              <div class="icons col-xs-10">
                <i class="" style="color:#3b5998"><a href="https://www.facebook.com/sharer/sharer.php?u=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}&src=sdkpreparse" class="fa fa-facebook-official fa-3x"></a></i>
                <i class="" style="color:#1dcaff"><a href="https://twitter.com/intent/tweet?hashtags=avetizblog&ref_src=twsrc%5Etfw&text=AvetiZ%20Blog&tw_p=tweetbutton&url=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}&via=avetiz" class="fa fa-twitter-square fa-3x"></a></i>
                <i class="" style="color:#007bb6"><a href="https://www.linkedin.com/cws/share?url=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}" class="fa fa-linkedin-square fa-3x"></a></i>
                <i class="" ><a style="color:#d34836" href="https://plus.google.com/share?url=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}" onclick="javascript:window.open(this.href,
                  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="fa fa-google-plus-square fa-3x"></a></i>
              </div>
            </div>
            <hr>
            <br>

             <section class="similarStories">
                <div class="row">
                    <h3 style="">Similar Stories</h3>

                  </div>
                  <div class="row">
                  <!-- {% for item in post_list%}
                      {% if item.category == post.category and item != post %}
                        <div class="col-sm-4 pad-right">
                        <a href="{% url 'blog:post_detail' pk=post.pk %}">
                          <img src="{{item.post_pic.url}}" class="img-responsive">
                          <h4>{{item.title}}</h4></a>
                        </div>
                      {% endif %}

                    {% endfor %} -->
                {% for post in post_list|slice:"4:7" %}
                <div class="col-sm-4 pad-right"><a href="{% url 'blog:post_detail' pk=post.pk %}">
                  <img src="{{post.post_pic.url}}" class="img-responsive">
                  <h4>{{post.title}}</h4></a>
                </div>
                {% endfor %}

                </div>
               </section>

               <section>
      <div class="container-fluid">
        <div class="row margin-tops">
        <h2>There are {{approved_comments.count}} Comments</h2>
        <br>
          {% for comment in approved_comments %}
            <div class="col-md-12 commmnet-wrapper">
              {% if user.is_authenticated or comment.approved_comment %}
                   {% if not comment.approved_comment %}
                  <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}">
                  <span class="glyphicon glyphicon-remove"></span></a>
                  <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                   {% endif %}

              <h4 class="commenter-name">{{comment.author}}</h4>
              <p class="comment">{{comment.text|safe|linebreaks}}</p>
            </div>
              {% endif %}
          
          {% empty %}
          <p>No comments posted.</p>
        {% endfor %}
          
          <div class="col-md-12 commentbox  margin-tops">
                  <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                                  </span>Please Share Your Comment</a>
                              </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse ">
                              <div class="panel-body">
                                <form method="post" action="{% url 'blog:add_comment_to_post' pk=post.pk %}">
                                   {% csrf_token %}
                                  <div class="row">
                                      <div class="col-md-12">
                                        {% for field in form %}
                                        <div class="form-group">
                                        <p><font color="red">{{ field.errors }}</font></p>
                                        <label>{{ field.label }}</label> 
                                        <div>{{ field }}</div>
                                    
                                          </div>
                                          {% endfor %}
                                          
                                      </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-push-9 col-md-3">
                                      <button type="submit" class="save btn btn-primary commentBtn">Post Comment</button>

                                    </div>
                                  </div>
                                  </form>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
        </div>

              
      </div>
      <!--copied some -->
        
    </section>

        <hr>


        <section class="similarStories">
        
              <div class="col-sm-12">
            <div class="row">
              <h3 style="">Recommended Stories</h3>

            </div>
            <div class="row">
            {% for post in featured_posts|slice:":3" %}
              <div class="col-sm-4 pad-right"><a href="{% url 'blog:post_detail' pk=post.pk %}">
                <img src="{{post.post_pic.url}}" class="img-responsive">
                <h4>{{post.title}}</h4></a>
              </div>
              {% endfor %}
           </div>

           <div class="row">
            <div class="col-sm-12">
              <img style="margin:20px auto" src="https://www.techcityng.com/wp-content/uploads/2016/06/Konga-Ad-728x90.jpg" class="img-responsive">
            </div>
            
          </div>

          </div>
         </section> 


          </div>

          <div class="col-md-4 col-sm-4 sideWidgetCol">
            <div class=" text-center">
              <h2 class="sidebar-h">Latest Posts</h2>
              <div class="sidebar-class">
                {% for post in recent_posts|slice:":3" %}
                <a href="{% url 'blog:post_detail' pk=post.pk %}">
                 <div class="sidebar-img-detail margin-tops">
                    <img class="img-responsive" src="{{post.post_pic.url}}"/>
                    <h4 style="text-align:left" class="sidebar-text">{{post.title}}</h4>
                 </div>
                </a>
                {% endfor %}

                <div class="sidebar-img-detail margin-tops">
                  <img class="img-responsive"  src="https://tpc.googlesyndication.com/simgad/3498238943114035450"/>
                </div>

                <div class="sidebar-img-detail margin-tops">
                  <img class="img-responsive" style="width:auto" src="https://tpc.googlesyndication.com/simgad/12095207540805284894" >
                </div>
                

              </div>
            </div>
          </div>
        
        </div>
      </div>
      {% include 'blog/includes/googleanalytics.html' %}
    </section>
{% endblock %}
{% block topimg %}
<a href="{{ad.link}}"><img class="img-responsive" src="{{ad.advert_banner.url}}"></a>
{% endblock %}
