{% extends 'blog/base.html' %}
{% load imagefit %}
{% block title %}
AvetiZ Blog | Real Estate | Buisness -AvetiZ Blog
{% endblock %}
{% block content %}
<!-- Main Area -->

	<main>

		<section id="body-header">
			<div class="container">
				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{message.tags}} alert-dismissable">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  <strong>{{message}}</strong>
				</div>
				{%endfor%}
				{% endif %}
				<div class="row">
					<div class="col-md-8 col-sm-6 post-box">
						<div class="main-post-wrapper">
							{% for post in featured_posts|slice:"0:1" %}

							<a href="{% url 'blog:post_detail' pk=post.pk %}"><img class="img-responsive topbox_img" src="{{post.post_pic.url|resize:'775x475,C'}}"/>

							<div class="main-post-text-wrapper">
								<h2><strong>{{post.title|truncatechars:70}}</strong></h2>
								<div class="post">{{post.text|truncatechars:100|safe|capfirst}}</div>
								<span class="author" style="color:#8CC34A;">AvetiZ</span>
								
							</div>
							</a>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-4 col-sm-6 post-box">
						
						<div class="sec-post-wrapper2 ">
							<a href="{% url 'blog:post_detail' pk=post_story.pk %}">
									<div class="col-md-7 col-sm-7  last col-xs-8 second-sec-post js-third" >
										<h3><strong>{{post_story.title|title|truncatechars:48}}</strong></h3>
										<p style="font-size: 18px">{{post_story.text|truncatechars:67|safe}} </p>
									</div>
									<div class="col-md-5 col-sm-5 col-xs-4 secondcol js-third">
									<img class="sec-img js-third" src="{{ post_story.post_pic.url|resize:'250x250,C'}}" height="100%" class=" js-third img-responsive"/>
									</div>
						    </a>
							  {% for post in featured_posts|slice:"1:4" %}
							  	  <a href="{% url 'blog:post_detail' pk=post.pk %}">
									<div class="col-md-7 col-sm-7 {% cycle '' 'last' %} col-xs-8 second-sec-post js-third" >
										<h3><strong>{{post.title|truncatechars:48}}</strong></h3>
										<p>{{post.text|truncatechars:67|safe}} </p>
									</div>
									<div class="col-md-5 col-sm-5 col-xs-4 secondcol js-third">
									<img class="sec-img js-third" src="{{ post.post_pic.url|resize:'250x250,C'}}" height="100%" class=" js-third img-responsive"/>
									</div>
								  </a>
								{% endfor %}	
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="body2">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 shift-top right" style="margin-top: 0px;">
						<div class="zone zonequeen">
							<div class="zone-title text-center">
										<h1 class="zone-title-text">Latest News</h1>
							</div>
							<div class="main-top-story index-post">
								{% for post in lnp|slice:":1"%}
								<a  href="{% url 'blog:post_detail' pk=post.pk %}"><img class="img-responsive" src="{{ post.post_pic.url }}"/>
								<h4>{{post.title}}</h4></a>

								<hr>
								{% endfor %}
								
							</div>

							{% for post in lnp|slice:"1:5"  %}
							<a href="{% url 'blog:post_detail' pk=post.pk %}">
							<div class="row sidebarrow">
								<div class="col-xl-6 col-xs-5 sidebarrowCol">
									<img class="img-responsive" src="{{post.post_pic.url|resize:'250x250,C'}}"/>
								</div>
								<div class="col-xl-6 col-xs-7 no-pad zone-content ">
									<h4>{{post.title|truncatechars:28}}</h4>
									<p>{{post.text|truncatechars:40|safe}} </p>
								</div>
								<br>
							</div>
							</a>
							<hr>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						{% for post in lnp|slice:"5:7" %}
						<div class="index-post {% if forloop.first %}firstindex {% endif %}">
						<a href="{% url 'blog:post_detail' pk=post.pk %}">
							<img class="img-responsive" src="{{post.post_pic.url}}"/>
							<div class="post-text">
								<h4>{{post.title|truncatechars:40}}</h4>
								</a>
								<!--font size="3">{{post.text|truncatechars:120|safe }}}} </font-->
								 <span style ="color:#F83371;">By {{post.author.get_full_name}}</span>
							</div>
							
						</div>
						{% endfor %}
						
						{% for post in lnp|slice:"7:8" %}
						<div class="index-post dont-show">
							<img src="https://img.huffingtonpost.com/asset/599adb3b1e00003c00c5e8c6.jpeg?ops=936_526,prog,quality_75" class="img-responsive"/>
							<div class="post-text">
								<h4>{{post.title|truncatechars:40}}</h4>
								<span> <font color="#F83371">By {{post.author.get_full_name}}</font></span>
							</div>
						</div>
						{% endfor %}
					</div>

					<div class="col-md-3 dis-sidebar  sidebar right">
						<div class="ad">
							<img class="img-responsive" src="http://bannerfarm.ace.advertising.com/CDN/105934/1379552_non_sec.gif" border="0" width="100%" height="250" alt="Click to learn more...">
						</div>
						<div class="zone">
							<div class="zone-title text-center">
									<h1 class="zone-title-text">TRENDING</h1>
							</div>
							{% for post in trending_posts|slice:":4" %}
							<a href="{% url 'blog:post_detail' pk=post.pk %}">
							<div class="row sidebarrow">
								<div class="col-xl-6 col-xs-5 sidebarrowCol">
									<img class="img-responsive" src="{{post.post_pic.url|resize:'250x250,C'}}"/>
								</div>
								<div class="col-xl-6 col-xs-7 no-pad zone-content ">
									<h4>{{ post.title|truncatechars:28}}</h4>
									<p>{{post.text|truncatechars:40|safe}} </p>
								</div>
								<br>
							</div>
							</a>
							<hr>
							{% endfor %}

						</div>
					</div>
					<div class="col-md-12 col-xs-12">
						<!--div class="col-md-3 col-md-push-3 col-sm-6 text-center">
							<h 1 class="third-text">TOP STORIES</h1>
						</div-->
					</div>

					<div  class="col-md-9 ritasection col-xs-12  col-sm-6">
					 <div class="row">
						{% for post in lnp|slice:"8:10"  %}
						 	<a href="{% url 'blog:post_detail' pk=post.pk %}">
							<div class="col-md-6 pad-right">
								<img class="img-responsive topStoryImg" src="{{ post.post_pic.url }}" class="img-responsive">
								<h3>{{post.title|truncatechars:40}}</h3>
								
							</div>
							</a>
						            
						    {% endfor %}
						</div>

						<div class="row">
							<div class="adSpaceC">
								<img src="/media/longad.gif/" class="img-responsive">
							</div>

						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<img class="img-responsive big-ad"   src="media/biglogo.jpg/" >
					</div>

				</div>
			</div>
		</section>
		</main>

<!-- Post Series Section -->

<section class="postSeries">

	<div class="container">
	<div class="row">
	  
	  <div class="col-md-9 col-sm-12">
	  {% for post in post_list|slice:"1:7" %}
	  <div class="row">
	  <div class="col-sm-12 fPostColumn">
	   <div class="row">
	    <div class="col-sm-8">
	      <h3 class="fPostTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h3>
	      <p class="fPostAuthor"><em>by <span>{{post.author.get_full_name|capfirst}}</span></em> <time>{{post.published_date}}</time></p>
	      <div class="fPostDetail">{{post.text|truncatechars:355|safe}} <span class="fpReadMore"><a href="{% url 'blog:post_detail' pk=post.pk %}">Read More</a></span></div>


	      </div>
	      <div class="col-sm-4">
	        <img src="{{post.post_pic.url|resize:'950x534,C'}}" class="img-responsive">
	      </div>
	    </div>

	    <div class="row">
	    	<div class="col-sm-8">
	    	 <ul class="socialCluster list-inline">
	          <li class="list-inline-item"><a href="https://www.facebook.com/sharer/sharer.php?u=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}&src=sdkpreparse" class="fa fa-facebook"></a></li>
	          <li class="list-inline-item"><a href="https://twitter.com/intent/tweet?hashtags=avetizblog&ref_src=twsrc%5Etfw&text=AvetiZ%20Blog&tw_p=tweetbutton&url=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}&via=avetiz" class="fa fa-twitter"></a></li>
	          <li class="list-inline-item"><a href="https://plus.google.com/share?url=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}" onclick="javascript:window.open(this.href,
								  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="fa fa-google"></a></li>
	          <li class="list-inline-item"><a href="https://www.linkedin.com/cws/share?url=http://avetizblog.com{% url 'blog:post_detail' pk=post.pk %}" class="fa fa-linkedin"></a></li>
	          
	        </ul>
	        </div>
	    </div>

	  </div>

	</div>
	{% endfor %}

	

	<section class="pRowSection businessRowSection">

	<div class="row pHeadline">
		<div class="col-sm-2">
			<h4 id="business" class="bheadlineTitle"><a href="/category/business">BUSINESS</a></h4>
		</div>
		<div class="col-sm-10 headlineBorder">
		</div>
	</div>

	<div class="row pRow">
		<div class="col-lg-4 col-md-4 col-sm-6">
			{% for post in business_posts|slice:"0:1"%}
			<img alt="" src="{{post.post_pic.url}}" class="img-responsive">
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bPCol">

			{% for post in business_posts|slice:"1:2" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

			<div class="bPPost">{{post.text|truncatechars:130|safe|capfirst}}</div>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 lastPCol">

		{% for post in business_posts|slice:"3:7" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

		{% endfor %}
		</div>

	</div>
	</section>

   <section class="pRowSection">

	<div class="row pHeadline">
		<div class="col-sm-3">
			<h4 id="entertainment" class="bheadlineTitle"><a href="/category/entertainment">ENTERTAINMENT</a></h4>
		</div>
		<div class="col-sm-9 headlineBorder">
		</div>
	</div>

	<div class="row pRow">
		<div class="col-lg-4 col-md-4 col-sm-6">
			{% for post in entertainment_posts|slice:"0:1"%}
			<img alt="" src="{{post.post_pic.url}}" class="img-responsive">
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bPCol">

			{% for post in entertainment_posts|slice:"1:2" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

			<div class="bPPost">{{post.text|truncatechars:130|safe|capfirst}}</div>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 lastPCol">

		{% for post in entertainment_posts|slice:"3:7" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

		{% endfor %}
		</div>

	</div>

	</section>

	   <section class="pRowSection">

	<div class="row pHeadline">
		<div class="col-sm-3">
			<h4 id="entertainment" class="bheadlineTitle"><a href="/category/technology">TECHNOLOGY</a></h4>
		</div>
		<div class="col-sm-9 headlineBorder">
		</div>
	</div>

	<div class="row pRow">
		<div class="col-lg-4 col-md-4 col-sm-6">
			{% for post in tech_posts|slice:"0:1"%}
			<img alt="" src="{{post.post_pic.url}}" class="img-responsive">
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bPCol">

			{% for post in tech_posts|slice:"1:2" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

			<div class="bPPost">{{post.text|truncatechars:130|safe|capfirst}}</div>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 lastPCol">

		{% for post in tech_posts|slice:"3:7" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

		{% endfor %}
		</div>

	</div>

	</section>

 <section class="pRowSection">

	<div class="row pHeadline">
		<div class="col-sm-3">
			<h4 id="entertainment" class="bheadlineTitle"><a href="/category/politics">POLITICS</a></h4>
		</div>
		<div class="col-sm-9 headlineBorder">
		</div>
	</div>

	<div class="row pRow">
		<div class="col-lg-4 col-md-4 col-sm-6">
			{% for post in pol_posts|slice:"0:1"%}
			<img alt="" src="{{post.post_pic.url}}" class="img-responsive">
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bPCol">

			{% for post in pol_posts|slice:"1:2" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

			<div class="bPPost">{{post.text|truncatechars:130|safe|capfirst}}</div>
			{% endfor %}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 lastPCol">

		{% for post in pol_posts|slice:"3:7" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

		{% endfor %}
		</div>

	</div>

	</section>

	 <section class="pRowSection">

	<div class="row pHeadline hidden-lg hidden-sm hidden-md">
		<div class="col-sm-3">
			<h4 id="entertainment" class="bheadlineTitle"><a href="/category/politics">FASHION</a></h4>
		</div>
		<div class="col-sm-9 headlineBorder">
		</div>
	</div>

	<div class="row pRow hidden-lg hidden-md hidden-sm">
		<div class="col-xl-4 hidden-lg hidden-md hidden-sm">
			{% for post in fashion_posts|slice:"0:1"%}
			<img alt="" src="{{post.post_pic.url}}" class="img-responsive">
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>
			{% endfor %}
		</div>
		<div class="col-xl-4 hidden-lg bPCol">

			{% for post in fashion_posts|slice:"1:2" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

			<div class="bPPost">{{post.text|truncatechars:130|safe|capfirst}}</div>
			{% endfor %}
		</div>
		<div class="col-xl-4 hidden-lg lastPCol">

		{% for post in fashion_posts|slice:"3:7" %}
			<h4 class="bpTitle"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></h4>

		{% endfor %}
		</div>

	</div>

	</section>


	  </div>

	 <div class="col-md-3 col-sm-12 sidebarCol">

	 <div class="row">
	   <div class="col-lg-12 col-md-12 col-sm-6">
		   <div class="adSpaceA">
		      <img class="img-responsive" src="/media/istad.gif/">
		   </div>
		  </div>

	 	<div class="col-lg-12 col-md-12 col-sm-6">
		    <div class="sidebarEvents">
		      <ul class="list-group">
		        <li class="list-group-item sidebarTitle">Avetiz Events</li>
		        <li class="list-group-item">
		        <span class="eventName">Disrupt Berlin Hackathon 2017</span>
		        <span class="eventCityTime">Berlin, Germany: December 2 - 3, 2017</span>
		        </li>
		        <li class="list-group-item">
		        <span class="eventName">Disrupt Berlin Hackathon 2017</span>
		        <span class="eventCityTime">Berlin, Germany: December 2 - 3, 2017</span>
		        </li>
		        <li class="list-group-item">
		        <span class="eventName">Disrupt Berlin Hackathon 2017</span>
		        <span class="eventCityTime">Berlin, Germany: December 2 - 3, 2017</span>
		        </li>
		        <li class="list-group-item seeMoreEvents">More Events</li>
		      </ul>
		    </div>
		    </div>
	    </div>

	    <div class="weeklywriters">
	     
	      <p class="sidebarTitle">Our Monthly Writers</p>
	      <div class="row writersRow">
	      	{% for writer in profile_list|slice:":4"%}
	        <div class="col-xs-3">
	        	<a href="{% url 'blog:profile' pk=writer.pk %}">
		        <div class="writerImg">
		        	<img class="img-responsive" src="{{writer.avatar.url|resize:'75x75,C'}}">
		        </div>
		      </a>
	        </div>
	        {% endfor %}
	        
	      </div>

	      <div class="row writersRow">

	        {% for writer in profile_list|slice:"4:8"%}
	        <div class="col-xs-3">
	        	<a href="{% url 'blog:profile' pk=writer.pk %}">
		        <div class="writerImg">
		        	<img class="img-responsive" src="{{writer.avatar.url|resize:'75x75,C'}}">
		        </div>
		      </a>
	        </div>
	        {% endfor %}
	      </div>
	    </div>

	     <div class="row">
	       <div class="col-lg-12 col-md-12 col-sm-6">
		    <div class="adSpaceA">
		      	<img class="img-responsive" src="/media/youtube_logo_detail.png/">
		      </div>
		      </div>

		    <div class="col-lg-12 col-md-12 col-sm-6">
		      <div class="adSpaceA">
		      	<img class="img-responsive" src="/media/bluead/">
		      </div>
		      </div>
		  </div>

		  <div class="row olderPostsRow">
		  
			  <div class="col-md-12">
			  	<div class="panel panel-default">
				  <div class="panel-heading olderPostTitle">Latest Posts</div>
				  <div class="panel-body">
				  	<div class="row">
				  	{% for post in latest_posts|slice:"0:3" %}
					  	<div class="col-md-12 col-sm-4 col-xs-12 panelCol">
					    	<img src="{{post.post_pic.url}}" class="img-responsive">
			        		<span class="olderPostsName"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></span>
			        	</div>
			        	{% endfor %}

		        	</div>

		        	<div class="row">
		        		{% for post in latest_posts|slice:"3:5" %}
		        		<div class="col-md-12 col-sm-4 col-xs-12 panelCol">
					    	<img src="{{post.post_pic.url}}" class="img-responsive">
			        		<span class="olderPostsName"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></span>
			        	</div>
			        	{% endfor %}

			        	{% for post in latest_posts|slice:"5:6" %}
		        		<div class="col-xl-12 hidden-lg col-md-12 col-sm-4 panelCol">
					    	<img src="{{post.post_pic.url}}" class="img-responsive">
			        		<span class="olderPostsName"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{post.title|truncatechars:40}}</a></span>
			        	</div>
			        	{% endfor %}
			        </div>
				  </div>
		 		 </div>
			  	
			  </div>
		  	
		  </div>

	  </div>
	 </div>

	 <div class="row adSpaceB">
	   <div class="col-sm-6">
	        
	        	<img class="img-responsive" src="/media/Jumia.png/">
	   </div>
	   <div class="col-sm-6">
	        
	        	<img class="img-responsive" src="https://www.bellanaija.com/wp-content/uploads/2012/07/MOCK-1-homepageBanners-baby-600x226.jpg">
	   </div>
	 </div>

	</div>
	</section>


{% endblock %}
{% block topimg %}
<a href="{% url 'blog:grass_to_grace' %}"><img class="img-responsive" src="/media/success.png/"></a>
{% endblock %}