{% extends 'blog/base.html' %}
{% block content %}
<div class="container margin-tops">
	<div class="row">
		<div class ="col-md-8 col-md-push-2">
			
			<p><strong>&nbsp;</strong></p>
			<p><strong>This website is controlled by </strong><a href="http://www.avetizblog.com">www.avetizblog.com</a>.<strong>We respect your privacy and committed to protecting your privacy and every personal information provided will be used with transparency. This privacy policy also incorporates the terms contained in the copyright policy and the use of cookies. </strong></p>
			<p>AvetiZ is sensitive to the confidentiality of your personal information and has created this privacy policy in order to demonstrate Avetiz commitment to protecting your privacy. This privacy policy applies to all information you provide to AvetiZ or AvetiZ obtains from you, through the AvetiZ site. By using this site, you consent to and accept this privacy policy. If you do not agree to the terms and conditions of this Privacy Policy, do not use the site, and leave the site immediately.</p>
			<p><strong>Information we collect from you</strong></p>
			<p>As visitors browse our blog, AvetiZ collects information about the visit. AvetiZ monitors statistics such as</p>
			<ul>
			<li>The number of visitors we have to our blog,</li>
			<li>Which pages are visited,</li>
			<li>The browsers our visitors use</li>
			<li>The device our visitor&nbsp;uses to access this site, phones, computers etc.</li>
			</ul>
			<p>We do these for analytic and to get information on how to improve our services, but none of this information is associated with any visitor as an individual.</p>
			<p><strong>Application of the Privacy Policy</strong></p>
			<p>This privacy policy applies to AvetiZ blog only. It is not applicable to any other website included or mentioned on this site.</p>
			<p>AvetiZ blog will have links to other websites, but this privacy policy does not govern such sites.&nbsp; AvetiZ is not responsible for the content, privacy policy or securities of such sites.</p>
			<p><strong>Cookies are used on this site.</strong></p>
			<p>A cookie is a token that a server gives to your browser when you access a site. Cookies are capable of storing many types of data. Cookies help provide additional functionality to the blog or to help us analyze website usage more accurately. &nbsp;In all cases in which cookies are used, we will not collect personally identifiable information except with your explicit permission. The use of cookies canbe erased from your computer hard drive, block all cookies, or receive a warning before a cookie is stored. Please refer to your browser instructions or help screen to learn more about these functions.</p>
			<p><strong>Use of Google Analytics</strong></p>
			<p>AvetiZ make use of google analytics to monitor and report traffic we use this to monitor the campaign that brings more traffic to our site, and the locations of most of our visitors.</p>
			<p><strong>AvetiZ Use of Information</strong></p>
			<p>If you choose to submit any personal information on the blog by completing requests for information or any form (for example, providing your name, company name, street or e-mail address or your telephone number or submitting your resume online or signing up for e-mail updates and alerts, AvetiZ may collect, retain, use and share that information in aggregated or unaggregated form. AvetiZ may use your personal information to respond to your queries, to send you e-mail alerts and updates or other marketing information about employment, various properties, projects or opportunities, or related information.</p>
			<p>AvetiZ may use the information you supplied to provide you with information about AvetiZ and about AvetiZ&rsquo; products and services, as well as the products and services of others. Moreover, AvetiZ may share your information among AvetiZ&rsquo; affiliates and with third parties that AvetiZ believes may provide services of interest to you. Also, AvetiZ may from time to time transfer information to third parties who analyze such information on behalf of AvetiZ.</p>
			<p><strong>Legally Compelled Disclosure: </strong></p>
			<p>We will also disclose your personal information when required to do so by law, for example, in response to a court order or a subpoena or other legal obligation, in response to a law enforcement agency's request, or in special cases when we have reason to believe that disclosing your personal information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (whether intentionally or unintentionally) our rights or property.</p>
			<p><strong>In Case of a Sale or Asset Transfer.</strong><strong>&nbsp;</strong></p>
			<p>If we become involved in a merger, acquisition or other transaction involving the sale of some or all of our assets, user information, including personal information collected from you through your use of our services, could be included in the transferred assets. Should such an event occur, we will use reasonable means to notify you, either through email and/or a prominent notice on our website.</p>
			<p><strong>Third-Party Advertisers and Links to Other Websites</strong></p>
			<p>&nbsp;</p>
			<p>Our site includes third-party advertising and links to other Web sites.</p>
			<p><strong>Liability of Information Provided by a Third Party.</strong></p>
			<p><strong>We are not liable for the accuracy of any information published by any writer and third parties on our blog.</strong></p>
			<p><strong>Third Party Information</strong>.</p>
			<p>AvetiZ blog may provide you with links to other websites. This privacy policy does not apply to any information that you may provide to third parties, such as through other sites linked to AvetiZ&rsquo;s blog. AvetiZ is not responsible for those sites and cannot control the content of what is offered on those sites, or on links from those sites, or the privacy policy or data security, if any, of those sites.</p>
			<p><strong>Definitions.</strong>&nbsp;</p>
			<p>When we say &ldquo;we&rdquo; or &ldquo;us&rdquo; or &ldquo;AvetiZ&rdquo; in these Terms, we mean AvetiZ blog, our affiliates and those agents we use to provide services on our behalf. When we say blog, we mean&nbsp;<a href="http://www.avetizblog.com">avetizblog.com</a>.&nbsp;</p>
			<p><strong>Changes in Privacy Policy.&nbsp;</strong></p>
			<p>AvetiZ reserves, in its sole discretion, the right to revise this privacy policy at any time by updating this posting.</p>
			<h4>Copyright </h4>
			<p>This blog is protected by the Copyright Act as contained in Chapter C28 law of theFederation of Nigeria, 2004, and it is administered by the National Copyright Commission (NCC). The Nigerian Copyright Act provides protection for literary, musical, and artistic works, cinematography, sound recording and broadcasting.</p>
			<p>If you are a copyright owner or an agent thereof and believe that any content on this site infringes upon your copyrights, you may submit a notification pursuant to the Copy Right Law by providing our Designated Agent with the following information in writing</p>
			<ul>
			<li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
			<li>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works on the site are covered by a single notification, a representative list of such works on the site;</li>
			<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;</li>

			<li>Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if applicable, e-mail address;</li>
			<li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law; and</li>
			<li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
			</ul>
			<!--p>.</p-->
			<h4><strong>Permissions</strong></h4>
			<p>If you are seeking permission to use our content, contact us.</p>
			<p><strong>More Information.&nbsp;</strong></p>
			<p>If you have any questions about this privacy policy or wish to contact AvetiZ &nbsp;in connection with any information contained in this privacy policy, regardless of which country you may be writing from, please write to:</p>
			<p><br />AvetiZ <br />6<sup>th </sup>Floor; NICON Plaza <br />Central Business District. Abuja<br />www.avetiz.com</p>
			<p>&nbsp;</p>
			
			<!--p>&copy; AvetiZ blog All Rights Reserved.&nbsp;</p-->
			<p>&nbsp;</p>
			<p><strong>Effective: September, 2017</strong></p>
		</div>
	</div>
</div>
{% endblock %}
{% block topimg %}
<a href="{% url 'blog:grass_to_grace' %}"><img class="img-responsive" src="/media/success.png/"></a>
{% endblock %}