@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  font-family: 'Raleway', sans-serif;
}

h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
/*
menuinst==1.4.7
*/
.container{
  width:70%;
}
main{
  width: 99%;
  margin:0 auto;
}

a:hover{
  text-decoration: none !important;
}

li{
  list-style: none !important;
}




.headlineBorder{
  border-bottom: 7px solid steelblue;
  margin-top: 7px;
}


.graceSection{
  background-color:#1e1e1e;
  min-height: 50px;
  color:#fff;
  padding:30px 10px 30px 10px ;
}

.heightclass{
padding-left:2.7%;
}

.graceSection img{
  margin:0 auto;
}

.nav-container{
  padding-right: 0px;
  padding-left:0px;
  margin-left:0px;
  margin-right:0px;
  border-radius:0px;
  flex-wrap:nowrap;
  background-color: #000;
}

.navbar{
  border-radius: 0px;
  margin-bottom:0px;
  border-color: #333333;
  border-style: solid;
  border-width: 2px;
}
.navbar-inverse{
  background-color: #000;
  border: none;
}

.navbarContainer{
  width: 70%;
  margin:0 auto;
}



/* Drop Down Menu Section */

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  background: rgba(0, 0, 0,0.8) !important;
  padding: 20px 0px;
  width: 90%;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}
.navbar-toggle .icon-bar {
    position: relative;
    transition: all 250ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
    background-color: red;
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
    background-color: red;
}


.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a{
  font-family: 'Lato', sans-serif;
}

.mega-dropdown-menu .dropdown-header {
  color: #fff;
  font-size: 22px;
  padding-bottom: 30px;
}

.iconsList ul li a{
  padding: 3px 10px !important;
  font-size: 1.2em;
}


/* End of Drop Down Menu Section*/

.bPPost{
  /*font-family: sans-serif;*/
  font-family: 'Raleway', sans-serif;
  line-height: 1.3em;
  font-size: 1.2em;
}

.bPTitle{
  font-size: 1.2em;
    line-height: 1.2em;
    color: #2a2a2a;
    /*font-family:sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.bPCol{
  background-color: #F6F6F6;
  padding: 20px 15px 30px 15px;
}

.bheadlineTitle{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  /*font-family: sans-serif;*/

  margin-top:0;
}

.bheadlineTitle a{
  color: #464646;
}

.pHeadline{
  margin-top: 10px;
  margin-bottom: 15px;
}

.businessRowSection{
  margin-top: 30px;
}

.pRow{
  margin-bottom: 20px;
}

.pRow img{
  width: 100%;
}

.pRowSection{
  font-style: normal;
}

.lastPCol h4{
  border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

nav a{
  /*font-family: 'Slabo 27px', serif;*/
  font-family: 'Faustina', serif;
  font-weight: 400;
  color:#fff !important;
}

nav a:hover{
  text-decoration:none;
}

.pink{
 color:#e5127d !important;
}
.main-post-text-wrapper{
  
  /*min-height: 100px;*/
  background-image: url(http://img.thedailybeast.com/image/upload/dpr_1.0/b_rgb:02141f,c_crop,d_placeholder_euli9k,e_blur:2000,f_jpg,h_174,o_80,w_254,x_1910,y_75/e_saturation:50/c_limit,w_684/fl_lossy,q_auto/170815-laswin-melania-tease_ysv3sw)  ;
  background-repeat:no-repeat;
  background-position: center; 
  background-size: cover;
  color:#fff;
  padding-bottom:15px;
}
.main-post-text-wrapper h2{
  margin-top:0px;
  margin-bottom:0px;
  margin-left:20px;
  text-align:left;
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  }

.main-post-text-wrapper p{
  margin-left:20px;
  padding-top: 5px;
  font-size:16px;
  text-align: justify;
  padding-right: 15px;
  line-height: 19px;
  margin-bottom: 0px;
  } 
/** imagine **/
.author{
  margin-left:20px;
}

.post-box{
  padding:0px;
}

.second-sec-post{
  background-image:url(http://img.thedailybeast.com/image/upload/dpr_1.0/b_rgb:02141f,c_crop,d_placeholder_euli9k,e_blur:2000,f_jpg,h_228,o_80,w_361,x_1248,y_880/e_saturation:50/c_limit,w_684/fl_lossy,q_auto/170818-Stern-Game-Of-Thrones-hero_bcmcab);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:#fff;
  height:106px;
  padding-right:0px;
}
.second-sec-post h3{
  margin-top:7px;
  margin-bottom: 7px;
  width: 95%;

}
@media only screen and (max-width: 992px){
 .second-sec-post h3{
  font-size: 15px;

 }
 .topbox_img{
    height:auto !important;
  
  }
}
.secondcol{
  padding :0px;
  max-height: 106px;
}
.sec-img{
  height: 106px;
  width:100%;
}
.topbox_img{
  /*height:470px ;*/
  width:100%;
}

@media only screen and (min-width: 1900px) {
  .topbox_img{
    height:auto;
  
  }
  }

.topStoryImg{
  height:auto;
  width:100%;
}




.last{
  background-image: url(http://img.thedailybeast.com/image/upload/dpr_1.0/b_rgb:02141f,c_crop,d_placeholder_euli9k,e_blur:2000,f_jpg,h_74,o_80,w_42,x_1013,y_966/e_saturation:50/c_limit,w_684/fl_lossy,q_auto/170820-woodruff-arpaio-pardon-tease_qg8yvc);
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height:130px;
}
.last-img{
  height:130px;
}
#body2{
  margin-top:20px;
}

#body2 a{
  color: #464646 !important;
}
.post-text h2{
  font-family: 'Oswald', sans-serif;
}

.post-text p{
  font-size: 16px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    text-align: justify;
}

.post-text>ul>li {
    list-style: square !important; 
   /* font-family: 'Open Sans', sans-serif;ffjf*/
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}


.post-text>ol>li {
    list-style: square !important;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

.index-post{
  margin-top:35px;
}
.firstindex{
  margin-top: 0px;
}

.right{
  margin-top:20px;
  padding-right: 0px;
  padding-left: 0px;
}
.zone-title-text{
  font-size: 20px;
  background-color: #F83371;
}

.zone-title{
    
  color:#fff;
  font-style: italic;
  padding-top: 0px;
  
}

.p{
  line-height: 1.3;
}

.no-pad{
  padding-right: 0px;
  padding-left: 0px;
}
.sidebarrow{
  margin-bottom:10px;
  margin-right: 10px;
}

.sidebarrow .sidebarrowCol{
   padding:0 7px !important;
}

 .third-text{
  font-size: 20px;
  background-color:#333333 ;
  color:#fff;
  font-style: italic;
 }

 .bottom-pad{
  padding-bottom:0px;
 }
 .pad-right{
  padding-left:0px;
 }

@media only screen and (min-width: 1200px){

.zone-content {
    max-width: 100%;
}

}


.blogFooter{
  padding:20px 0 50px 0;
  background-color: #011019;
  height: auto;
  width: 100%;
  color:#fff;
  font-family:'Lato', sans-serif;
  margin-top: 30px;
}

.blogFooter .bNavli{
  font-size: 1.5rem;
}
.zone-content h4{
  margin-bottom: 3px;
  margin-top: 0px;
  margin-left: 8px;
  color:  #191970;
  font-weight: bold;
}

.zone-content p{
  margin-left: 8px;
}

.blogFooter small{
  color: #80898F !important;
}

.blogFooter input{
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 0px;
}

.topBlogfooterRow{
  padding-bottom: 15px;
}

.bottomBlogfooterRow{
  margin-bottom: 50px;
}

.nospacing{
  padding: 0 !important;
  margin: 0 !important;
}

.topfooterlist{
  margin-bottom: 4px;
}

.topfooterlist li a{
  color: #fff !important;
  font-family: 'Faustina';
  font-size: 1.2em;
}

.topfooterlist li a:hover{
  text-decoration: none;
}

.bottomfooterlist{
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottomfooterlist li a{
  font-size: 12px !important;
  color: #BFA6AB;
  font-weight: bold;
}

.bottomfooterlist li a:hover{
  text-decoration: none;
}


.subscribeBtn{
  background-color: #031c70;
  color: #fff;
  border-radius: 0px;
  font-size: 16px;
  padding:5px 12px !important;
}

.subscribeBtn:hover{
  color: #fff;
}

.fPostColumn{
  padding: 0px 15px;
  border-bottom: 1px solid #E8E8E8;
  font-style: normal;
}

.fPostColumn time{
  padding-left: 5px;
}

.fPostColumn img{
  padding-top: 30px;
  height: 200px;
  width: 100%;
}

.fPostTitle{
  margin-bottom: 2px;
}

.fPostTitle a{
  font-family: Helvetica;
  font-weight: bold;
}

.fPostTitle a:hover{
  color: #2b506d;
  text-decoration: none;
}

.fPostDetail{
  font-size: 1.15em;
}

.fPostAuthor{
  font-size: 16px;
  color: #a5a5a5;
}

.fPostAuthor span{
  color: steelblue;
  font-weight: bold;
}

.fpReadMore a{
  color: steelblue;
  font-weight: bold;
}

.fpReadMore a:hover{
  text-decoration: none;
}

.olderPostsRow .panelCol{
  border-bottom: 1px solid #DDDDDD;
  padding-top: 10px;
}

.olderPostTitle{
  font-size: 27px;
  font-weight: bold;
}

.olderPostsName{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
  display:block;
}

.olderPostsRow .panel-heading{
  background-color: #fff !important;
  color: #686C68 !important;
  border-bottom: 4px solid steelblue !important;
}

/*Font awesome*/

/* Style all font awesome icons */
.socialCluster .fa {
    padding: 10px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.socialCluster .fa:hover {
    opacity: 0.7;
    color: #fff !important;
    text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.socialCluster .fa-facebook {
    background: #3B5998;
    color: white;
    padding:10px 12px;
}

/* Twitter */
.socialCluster .fa-twitter {
    background: #55ACEE;
    color: white;
}

.socialCluster .fa-google {
  background: #dd4b39;
  color: white;
}

.socialCluster .fa-linkedin {
  background: #007bb5;
  color: white;
}

footer .socialCluster{
  padding: 0px 12px;
}

footer .socialCluster .fa{
  border-radius: 50% !important;
}

.sidebarCol{
  padding-top:10px;
}

.adSpaceA{
  padding: 20px 0;
}

.adSpaceA img{
  width: 100% !important;
  height: auto;
}

.adSpaceB img{
  margin:20px auto;
  width: 100%;
  height: 200px;
}

.adSpaceC img{
  margin: 30px auto;
  width: 80%;
  height: 200px;
}

.sidebarTitle{
  font-size: 27px;
  font-weight: bold;
  color: #686C68;
}

.eventName{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  display:block;
}

.seeMoreEvents{
  color: steelblue;
  font-weight: bold;
}


.weeklywriters .col-xs-3{
  padding-right: 0px !important;
    padding-left: 4px !important;
}

.weeklywriters .col-xs-3 img{
  height: auto !important;
  width: 100% !important;
}

.weeklywriters .writerImg{
    transition: all .6s;
    cursor: pointer;
    color: rgba(0,0,0,0.0);
}

.index-post h4{
    color: #191970;
    font-weight: bold
}


.weeklywritersX{
  background: #464646 !important;
  position:absolute;
  transform:scale(3.3,3.3);
  z-index: 1;
  border:1px inset orange;
  color: #f9f9f9 !important;
  font-size: 1rem !important;
}

.weeklywriters .writerimg{
    transition: all .6s;
    cursor: pointer;
    color: rgba(0,0,0,0.0);
}

.weeklywritersY{
 background: #464646 !important;
  position:relative;
  transform:scale(3.3,3.3);
  z-index: 1;
  top:30px;
  left: -100px;
  border:1px inset orange;
  color: #f9f9f9 !important;
  font-size: 1rem !important;
}

.weeklywriters .writerName{
  display: block;
  position: absolute;
  top:80%;
  font-size: 0.7rem;
  z-index: 2; 
  width: 100%;
  text-align: center;
}

.writerNameBg{
  background: rgba(0,0,0,0.6);
}

.writersRow{
  margin:10px 0;
}

.postColumn{
  margin-left: 10px;
}

.postSeries{
  margin:0 auto;
}

.postSeries a{
  text-decoration: none;
}

.lastforBigSc{
  display: none;
}

.olderPostsRow img{
  width: 100%;
}

footer{
  font-family: 'Faustina';
}

footer a{
  color: #fff !important;
}


footer .input-group{
  margin:20px;

}

.searchbox{
   margin-bottom: 20px;
}

.searchbox input{
  border-radius: 0;
  font-size: 1.3em;
}

.searchbox .faBtn{
  background-color:#175F7D;
  border:none;
}

.searchbox .fa{
  padding: 2px 0 !important;
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
}


/* End of Search Section */

/* Header Fonts */

.sTrend{
  font-style: italic;
  font-weight: bold;
}

.sPolitics a{
  font-family: 'Slabo 27px' !important;
}

.sEntertainment a{
  font-family: 'Merriweather' !important;
}

.sTechnology a{
  font-family: 'Lora' !important;
}

.sArw a{
  font-family: 'Lobster' !important;
}

.sWeird a{
  font-family: 'Bree Serif' !important;
}

.sFashion a{
  font-family: 'Bitter' !important;
}

.sMyStory a{
  font-family: 'Lobster' !important;
}

.sEducation a{
  font-family: 'Archivo Narrow' !important;
}

.sAdvertise a{
  font-family: 'Alegreya' !important;
  font-style: italic;
}

.commentSection{
  margin-top: 50px;
}

.similarStories{
  margin-bottom: 50px;
}

.copyRightCol{
  margin-top: 35px;
}
/* Media Queries */

@media only screen and (min-width: 1900px) {
  .topfooterlist{
    margin-bottom: 14px;
  }

  .weeklywriters .col-xs-3 img {
     height: auto !important;
  }

  .fPostDetail{
    font-size: 1.2em;
   }

  
}

@media only screen and (min-width: 1650px) {
  


  .lastforBigSc{
      display: block;
    }

  .mega-dropdown-menu {
    width:72%;
    height: auto;  
  }


}

@media (min-width: 1300px) and (max-width: 1600px) {
        .lastlist-group-item{
          display: none;
        }
    }

@media only screen and (min-width: 1300px) {

    .fPostColumn img {
      height: 220px;
  }

  .bPPost {
      font-size: 1.2em;
  }
    .fPostDetail{
    font-size:1.2em;
    }

}

@media only screen and (max-width: 1240px) {
  .navbarContainer{
    width: 80%;
    margin:0 auto;
    text-align: right;
  }

   .search-icon {
    top: 19px;
    left: 15%;
    position: absolute;
    }

.mega-dropdown-menu .dropdown-header {
    font-size: 19px;
}

}

@media only screen and (min-width: 1100px) {
  .shift-top{
    position:relative;
    top:-70px;
    
  }
  .zonequeen{
  position:relative;
  top: 50px;
  }

}

@media only screen and (max-width: 1000px) {

  .navbarContainer{
    width: 90%;
    margin:0 auto;
    text-align: right;
  }

  .dropdown-menu{
    width: 100%;
  }

  .dropdown-header{
    padding:5px;
  }

  .navbar-nav>li>a {
      font-size: 14px;
  }

  .blogFooter .bNavli{
  font-size:1.3rem;
  }
}

@media only screen and (max-width: 992px) {

  .navbar-nav>li>a {
      font-size: 12px;
  }
  .dis-sidebar{
    display:none;
  }
   .topbox_img{
      height:auto;
    }

    .fPostColumn img{
      height: 200px;
      margin-bottom: 15px;
    }

   .bheadlineTitle{
      font-size: 1.1em;
   }

  .mega-dropdown-menu .dropdown-header {
    font-size: 17px;
  }


}

@media only screen and  (min-width: 992px) { 
  .js-firstside {
    width:100%; 
  }
}

@media (min-width: 500px) and (max-width: 992px) { 
  .olderPostsRow .panelCol {
    border:none !important;
  }

  .olderPosts{
    width: 70%;
    margin:auto;
  }

  .weeklywriters .col-xs-3 img{
    height: auto !important;
    width: 100% !important;
   }


 }
 .dont-show-logo{
    margin-top: 6px;
 }

 .dont-show-logo img{
    height:45px;
 }

@media only screen and (min-width: 1200px){
.dont-show-logo{
  display:none;
}

}
@media only screen and (max-width: 1200px){
.small-scree-no{
  display:none;
 }
}

@media only screen and (max-width: 768px){
   .topStoryImg{
    height:auto;
    width:100%;
   }
}

 @media only screen and (max-width: 768px) {
    .top-bar{
      display:none;
    }
   

   
    .ad{
      padding-left: 10px;
      padding-right:10px;
      width:100%;
      
    }

    .topBlogfooterRow {
      padding-bottom: 0px;
  }


    .blogFooter .bNavli{
    padding-bottom:20px;
  }
  
  .topfooterlist{
    text-align: center;
  }

    .right{
      padding-left: 10px;
      padding-right:10px;
    }

    #footerLogoImg{
      height: 60px;
      margin: 20px auto;
    }

    footer .socialCluster{
    padding: 15px 12px;
    text-align: center;
  }


  .olderPosts{
    width: 100%;
  }

  .fPostColumn img{
      height: 300px;
  }
    
}
.belowFooter>li{
  background-color: transparent;
  border-style: none;
  font-size: 1.2rem;
  border-right-style:solid;
  border-right-width: 1px;
  border-right-color: #595959;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 40px;
}

.belowFooter>li>a{
  color:#fff !important;
}

.list-group-item:last-child{
  border-right-style:none;
}


/*gjvhvhj*/
@media only screen and (max-width: 767px){
  #footerLogoImg{
      height: 60px;
      margin: 20px auto;
    }

 .ritasection{
  margin-top: 50px;
 }


  .blogFooter small {
    display: block !important;
    margin-top: 20px !important;
  }

}

@media only screen and (max-width: 768px){
  .sidebar-img-detail>img{
  height:auto;
}

  }

.index-post img{
  width:100%;
  max-height:400px;
}

.sidebar-img-detail>img{
  height:250px;
}

@media only screen and (min-width:1500px){
.hidden-xl-up{
  display:none;
}
}

@media only screen and (max-width: 768px){
  .container{
    width:95%;
  }
}