.navbar{
	padding: 15px !important;
	background:#011019 !important;
}

.navbar-brand img{
	max-height: 250%;
	position: relative;
	top:-15px;
}

#bg-video {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}


.headlineTxt{
	font-family: 'Lato';
	font-weight: 700;
	padding-bottom: 35px;
	margin-bottom: 20px;
	border-bottom: 3px solid #fff;
	  text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 3px 0 #aaa,
               0 4px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 4px 7px rgba(0,0,0,.25),
               0 7px 7px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.pTxt{
	font-size: 1.2vw !important;
	font-family: 'Roboto';
	margin-bottom: 20px;
}

.pTxt .paciTxt{
	font-size: 25px;
}

.paciTxt{
	font-family: 'Pacifico'
}

.jumbotron {
  background: rgba(128,128,128,0.1);
  overflow: hidden;
  height: auto;
  color: #fff;
  margin:0;
  padding: 20px 0;
}

main {
  background: url(../img/gtg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 15vh 0;
  width: 100% !important;
}

.gtgCalltoAction{
	background-color: #c97a8f;
	padding: 20px 0;
}

.gtgCalltoAction .shareStoryBtn{
	background: transparent;
    color: #fff;
}

.gtgCalltoAction .shareStoryBtn:hover{
	background:transparent;
	color: #f9f9f9;
}

.gtgCalltoAction .shareStoryBtn:active:focus,.shareStoryBtn:active:hover{
	background:transparent;
	color:#fff;
}


.shareStoryBtn{
	border-radius:0px;
	padding: 13px 30px;
	font-weight: bold; 
	background:transparent;
	color: #ff88a8;
}

.shareStoryBtn:hover{
	background: transparent;
	color: #ff88a8;
}

.shareStoryBtn .fa{
	font-size: 1.2em;

}

.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
	display:block;
	position:relative;
	background-color: #111;
	color: #fff;
	padding: 8px;
	border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	text-decoration:none
}
.video-list-thumbs h2{
	bottom: 0;
	font-size: 16px;
	height: 33px;
	margin: 8px 0 0;
	padding-top: 10px;
}

.video-list-thumbs img{
	height: 200px;
	width: 100%;
}

.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 12px;
	line-height: 13px;
	padding: 2px 3px 1px;
	position: absolute;
	top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
	background-color:#000;
}

/* All modalContent asides the footer */
#shareStoryModal .mdContent{
	padding: 30px;
}

#shareStoryModal .modal-title{
	color:#464646;
	font-size: 45px;
	padding-bottom:10px;
    margin-bottom:0;
    border:none;
}

#shareStoryModal .modal-body{
	padding-top: 0px;
}

#shareStoryModal .modal-header,.modal-footer{
	border:none !important;
}

#shareStoryModal .modal-footer{
	background: url(http://img.talkandroid.com/uploads/2012/02/Blue-Metal_12.jpg);
	padding:50px 20px;
}


#shareStoryModal .close{
    background: #464646;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 1 !important;
    color: #fff;
    position: relative;
    left: 7%;
    top: -50px;
    box-shadow: -1px 2px 2px #787878;
}

#shareStoryModal .checkbox a{
	color:#f26f6f;
}

#shareStoryModal .isInput{
	background: #D7D7D7;
    border: 1px solid #b2a7a7;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
    font-family: 'Roboto';
}

#shareStoryModal textarea{
	background:#D7D7D7;
	border-radius: 0;
}

#shareStoryModal .uploadBtn{
	border-radius: 0;
    font-size: 18px !important;
    margin-top: 8px;
    background-color: steelblue;
    color: #fff;
    border: none;
}

#shareStoryModal .shareStoryFile{
	position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#shareStoryModal .shareSubmitBtn{
	background: steelblue;
    border: none;
    border-radius: 0px;
    color: #fff;
    padding: 15px 30px;
    margin-top: 20px;
}

@media only screen and (min-width: 1900px){
	.video-list-thumbs img {
	    height: 400px;
	    width: 100%;
	}
}

@media only screen and (min-width: 1600px) {
	 .jumbotron{
	 	height: 800px;
	 }

	 .btn-lg {
	    font-size: 23px !important;
    }
}

@media only screen and (max-width: 1200px) {
	.pTxt{
		font-size: 16px !important;
	}

	.jumbotron{
		padding-top: 10px !important;
	}
}

@media only screen and (max-width: 900px) {
	.jumbotron{
		background:url(https://www.realtor.com/welcome/realpeople/images/bg.jpg);
		background-position: top center;
		height: 400px;
	}

	#bg-video{
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.video-list-thumbs img{
		height: auto;
		width: 100%;
	}
}


@media (min-width:320px) and (max-width: 480px) { 
	.video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
	}
	.video-list-thumbs h2{
		bottom: 0;
		font-size: 12px;
		height: 22px;
		margin: 8px 0 0;
	}
}