{% extends 'advert/base.html'%}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-md-4">
	    <div class="widget-small primary"><i class="icon fa fa-users fa-3x"></i>
	      <div class="info">
	        <h4>Total Comments</h4>
	        <p><b>{{comment_count}}</b></p>
	      </div>
	    </div>
	 </div>
	 <!--div class="col-md-4">
	    <div class="widget-small info"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
	      <div class="info">
	        <h4>Approved Post</h4>
	        <p><b>25</b></p>
	      </div>
	    </div>
	  </div-->
	<div class="col-md-4">
		<div class="widget-small warning"><i class="icon fa fa-files-o fa-3x"></i>
		  <div class="info">
		    <h4>Published Post</h4>
		    <p><b>{{published_count}}</b></p>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="widget-small warning"><i class="icon fa fa-files-o fa-3x"></i>
		  <div class="info">
		    <h4>Draft</h4>
		    <p><b>{{draft_count}}</b></p>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="widget-small danger"><i class="icon fa fa-bank fa-3x"></i>
			<div class="info">
			    <h4>Wallet</h4>
			    <p><b>{{amount}}</b></p>
			</div>
		</div>
	</div>
<hr>
</div>

<div class="row">
	<div class="col-md-6">
	    <div class="card">
	      <h3 class="card-title">Post Distribution</h3>
	      <div class="embed-responsive embed-responsive-16by9">
	        <canvas class="embed-responsive-item" id="doughnutChartDemo"></canvas>
	      </div>
	    </div>
	</div>
	<div class="col-md-6">
        <div class="card">
          <h3 class="card-title">Post/Month Distribution </h3>
          <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
          </div>
        </div>
      </div>
</div>
	<script type="text/javascript" src="{%static 'js/plugins/chart.js' %}"></script>
    <script type="text/javascript">
     var pdata = [
      	{
      		value: {{draft_count}},
      		color:"#F7464A",
      		highlight: "#FF5A5E",
      		label: "Draft"
      	},
      	{
      		value:{{published_count}},
      		color: "#46BFBD",
      		highlight: "#5AD3D1",
      		label: "Submitted"
      	},
      	{
      		value: {{submitted_count}},
      		color: "#FDB45C",
      		highlight: "#FFC870",
      		label: "In Review"
      	}
      ]

     var data = {
      	labels: ["January", "February", "March", "April", "May", "June","July","August","September", "October","November","December"],
      	datasets: [
      		{
      			label: "Post to Month",
      			fillColor: "rgba(220,220,220,0.2)",
      			strokeColor: "rgba(220,220,220,1)",
      			pointColor: "rgba(220,220,220,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(220,220,220,1)",
      			data: [{% for count in monthdis %}{{count}},{% endfor %}]
      		},
      		/*{
      			label: "Comments",
      			fillColor: "rgba(151,187,205,0.2)",
      			strokeColor: "rgba(151,187,205,1)",
      			pointColor: "rgba(151,187,205,1)",
      			pointStrokeColor: "#fff",
      			pointHighlightFill: "#fff",
      			pointHighlightStroke: "rgba(151,187,205,1)",
      			data: [28, 48, 40, 19, 86, 60, 70,50,54]
      		}*/
      	]
      };
      var ctxd = $("#doughnutChartDemo").get(0).getContext("2d");
      var barChart = new Chart(ctxd).Doughnut(pdata);

      var ctxl = $("#lineChartDemo").get(0).getContext("2d");
      var lineChart = new Chart(ctxl).Line(data);
    </script>
{% endblock %}
{%block title%}
{{request.user.first_name}}|Dashboard
{%endblock%}