{% extends 'advert/base.html' %}
{% block content %}

<main id="maincontent">
  <section class="manage">
    <div class="container">
      <div class="row">
      	<div class="col-md-10 js-post-list ">
      	<div class="panel-body">
      	  <div class="tablehead">	
			  <div class="job_title">Manage Posts</div>
			  <button class="createbtn btn btn-primary js-add-product  " data-url="{% url 'advert:create_post' %}">Create Post <i class="fa fa-plus" style="color:#017583;"></i></button>
		  </div>
		    <table class="table overflow-table" id="product-table">
		      <thead >
		      	<tr>
			          <th><strong>Post Title</strong></th>
			          <th class ="mobile_no"><strong>Created On</strong></th>
			          <th class="mobile_no"><strong >Published Date</strong></th>
			          <th><strong>Status</strong></th>
			          <th><strong>Action</strong></th>
			    </tr>
		      </thead>
		      <tbody>
          			{% include 'advert/includes/partial_post_list.html' %}
			   </tbody>
			</table>
			</div>
         </div>
      </div>
    </div>
  </section>
    <div class="modal " id="modal-product">

      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
</main>

{% endblock %}