{% extends 'advert/base.html' %}
{% block profile %}
 <div class="content-wrapper">
        <div class="row user">
          <div class="col-md-12">
            <div class="profile">
              <div class="info"><img class="user-img" src="{{request.session.img_url}}">
                <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
                <p>{{request.session.role}}</p>
              </div>
              <div class="cover-image"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card p-0">
              <ul class="nav nav-tabs nav-stacked user-tabs">
                <li class="active"><a href="#user-timeline" data-toggle="tab">Timeline</a></li>
                <li ><a href="#user-settings" data-toggle="tab">Settings</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">
              <div class="tab-pane active" id="user-timeline">
                <div class="timeline">

                {% for post in posts %}
                  <div class="post">
                    <div class="post-media"><a href="#"><img class="img-responsive" width="10%" src=""></a>
                      <div class="content">
                        <h5><a href="#">{{request.user.first_name}} {{request.user.last_name}}</a></h5>
                        <p class="text-muted"><small>{{post.created_on}}</small></p>
                      </div>
                    </div>
                    {% autoescape off %}
                    <div class="post-content">
                      {{post.text|truncatechars:'200'|safe}}

                    </div>
                     {% endautoescape %}
                    <ul class="post-utility">
                      <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Like</a></li>
                      <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Share</a></li>
                      <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i>{{post.comment_set.all|length}} Comments</li>
                    </ul>
                  </div>
                 {% endfor %}
               </div>
              </div>
              <div class="tab-pane fade" id="user-settings">
                <div class="card user-settings">
                  <h4 class="line-head">Settings</h4>
                  <form method="post" enctype="multipart/form-data">
                  {%csrf_token %}
                    <div class="row mb-20">
                      <div class="col-md-4">
                        <label>First Name</label>
                        {{userform.first_name}}
                      </div>
                      <div class="col-md-4">
                        <label>Last Name</label>
                        {{userform.last_name}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 mb-20">
                        <label>Email</label>
                       {{userform.email}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Username</label>
                        {{userform.username}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Mobile No</label>
                        {{profileform.phone}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Address</label>
                        {{profileform.address}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Description</label>
                        {{profileform.short_description}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Account Number</label>
                        {{profileform.account_number}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Bank Name</label>
                        {{profileform.bank_name}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Account Name</label>
                        {{profileform.account_name}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Facebook Link</label>
                        {{profileform.facebook_link}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>LinkedIn Link</label>
                        {{profileform.linkedin_link}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Twitter Link</label>
                        {{profileform.twitter_link}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Instagram Link</label>
                        {{profileform.instagram_link}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Avatar</label>
                        {{profileform.avatar}}
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-8 mb-20">
                        <label>Cover Pic</label>
                        {{profileform.cover_pic}}
                      </div>

                    </div>
                    <div class="row mb-10">
                      <div class="col-md-12">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}